.calculator {
    display: grid;
    grid-template-columns: repeat(4, 80px);
    gap: 10px;
    max-width: 350px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #0e1001 ;
    border-radius: 30px; /* Changed background color to blue */
  }
  
  .display {
    text-size-adjust: 20%;
    grid-column: span 4;
    text-align: right;
    padding: 10px;
    background-color: #f5f5ef;
    border-radius: 5px;
    font-family: sans-serif;
    font-size: 5em;
  }
  
  button {
    border: 0px;
    color: white;
    padding: 20px;
    font-size: 20px;
    background-color: #31322c ; 
    text-decoration-color: white;
    border-radius: 5px;/* Changed button color to light blue */
  }
  .equal {
    border: 0px;
    width: 170px;
    color: white;
    font-size: 20px;
    background-color: #31322c ; 
    border-radius: 5px;
  }